<!DOCTYPE html>
<html>
<head>
    <title>Albums</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
        }

        .card {
            border: none;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .card-text {
            font-size: 0.875rem;
            color: #555;
            margin-bottom: 1rem;
        }

        .row {
            justify-content: center;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    </nav>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Albums</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="album.jpg" class="card-img-top" alt="{{ album.title }}">
                    <div class="card-body">
                        <h5 class="card-title">Try</h5>
                        <p class="card-text">Artist: Lil Uzi</p>
                        <a href="album.detail.html" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
